<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <style>
      .container {
         margin-left: 7%;
         margin-right: 7%;
         justify-content: center;
         text-align: justify;
      }

      .tablaCuenta {
         width: 100%;
         border: 1px solid #868080;
      }

      p {
         font-family: verdana;
         font-size: 10px;
         line-height: 16px;
         font-weight: 100;
      }

      th p {
         margin-top: 0;
      }

      h3 {
         font-family: verdana;
         text-align: center;
      }



      img.img-escudo {
         height: 75px;
      }

      h3.subTitle {
         font-size: 11px;
         font-weight: 100;
         line-height: 18px;
         margin-top: 0% !important;
      }




      h3.republiClass {
         margin-bottom: 0px;
         font-size: 12px;
      }

      table {
         width: 100%;
      }

      td {
         border: 2px solid black;
      }

      tr.headerTable td {
         border: 0px !important;
      }

      thead {
         text-align: center;
      }

      td.tdAsunto {
         width: 83%;
      }

      td.antecedesText p {
         font-size: 12px;
         line-height: 22px;
      }

      td.rowNumber {
         text-align: center;
      }

      td.antecedesText {
         height: 37vh;
      }

      table.tablafooter td {
         width: 2%;
      }

      table.tablafooter {
         text-align: center;
         height: 18vh;
      }

      tr.uniClass {
         text-align: justify;
      }

      tr.uniClass h4 {
         margin-top: 1px;
         margin-bottom: 1px;
         font-weight: 100;
      }
      td.thObser {
    vertical-align: super;
}
td.firmas {
    height: 17vh;
}
   </style>
</head>

<body>
   <div class="container">
      <table class="tablaCuenta">
         <thead>
            <tr class="headerTable">
               <th class="tdEscudo" colspan="1">
                  <img class="img-escudo" src="Escudo_de_Armas.png" alt="">
               </th>
               <th colspan="1">
                  <h3 class="subTitle">REPÚBLICA BOLIVARIANA DE VENEZUELA
                     <br>DIRECCIÓN EJECUTIVA DE LA MAGISTRATURA
                     <br>DIREECIÓN GENERAL DE RECURSOS HUMANOS
               </th>
               <th colspan="2">
                  <p>pag. 2 de 2</p>
               </th>
            </tr>
         </thead>
         <tbody>
            <tr>

               <td colspan="3">
                  <p>
                     PARA: DIRECCIÓN EJECUTIVA
                  </p>
               </td>
               <td class="rowNumber" rowspan="3">
                  <P>
                     CUENTA N° <br><strong>{{accountNumber}}</strong> <br>RECIBIDA
                  </P>
               </td>
            </tr>
            <tr>
               <td colspan="3">
                  <p>DE: DIRECCIÓN GENERAL DE RECURSOS HUMANOS</p>
               </td>
            </tr>
            <tr>
               <td class="tdAsunto" colspan="3">
                  <p>
                     ASUNTO: <br>
                     DEJAR SIN EFECTO UN (01) MOVIMIENTO DE INGRESO A FAVOR DEL CIUDADANO <strong>{{name}}</strong>. TITULAR LA CÉDULA DE IDENTIDAD NÚMERO
                     <strong>{{cedula}}</strong>, MEDIANTE PUNTO DE CUENTA NÚMERO <strong>{{accountNumber}}</strong>, APROBADO EN
                     <strong>{{date}}</strong>.
                  </p>
               </td>
            </tr>
            <tr>

               <td class="antecedesText" colspan="5">

               </td>
            </tr>
         </tbody>
      </table>
      <table class="tablafooter">
         <tr>
            <td>
               <p>

               </p>
            </td>
            <td>
               <p>
                  LISMAR YOVEIDY TERAN BARRIOS <br> DIRECTORA DE ESTUDIS TÉCNICOS <br>(E)
               </p>
            </td>
            <td>
               <p>
                  YORLENI MADELEN RANGEL <br> CASTILLO <br> DIRECTORA GENERAL DE RECURSOS HUMANOS (E)
               </p>
            </td>
         </tr>
         <tr class="uniClass">
            <td colspan="2">
               <h4> UNIDAD VINCULADAS <br></h4>
               <P>
                  <label>
                     <input type="checkbox" id="cbox1" value="first_checkbox" /> 
                     DIRECCIÓN GENERAL DE RECURSOS HUMANOS
                  </label> <br>
                  <label>
                     <input type="checkbox" id="cbox2" value="first_checkbox" /> 
                     DIRECCIÓN GENERAL DE ADMINISTRACIÓN Y FINANZAS
                  </label> <br>
                  <label>
                     <input type="checkbox" id="cbox3" value="first_checkbox" /> 
                     DIRECCIÓN GENERAL DE PLANIFICACÍON Y DESARROLLO INSTITUCIONAL
                  </label> <br>
                  <br>
                 
               </P>
            </td>
            <td colspan="1">
               <p>
                  <label>
                     <input type="checkbox" id="cbox4" value="first_checkbox" /> 
                     OFICINA DE DESARROLLO INFORMATICO 
                  </label> <br>
                  <label>
                     <input type="checkbox" id="cbox4" value="first_checkbox" /> 
                     OFICINA DE ASESORIA JURIDICA
                  </label> <br>
                  <label>
                     <input type="checkbox" id="cbox5" value="first_checkbox" /> 
                     OFICINA DE COMUNICACIÓ
                  </label> <br>
                  <label>
                     <input type="checkbox" id="cbox6" value="first_checkbox" /> 
                     OFICINA DE SEGURIDAD
                  </label> <br>
               </p>
            </td>
         </tr>
         <tr>
            <td>
               <p>
                  AGENDA <br>
                  FECHA <br>
                  <input type="text" id="cbox7" class="checkAgenda"  /> <br>
                  N°<br>
                  <input type="text" id="cbox7" class="checkAgenda"  /> 
               </p> <br>               
            </td>
            <td>
               <p>
                  DECISIÓN <br>
                  <label>
                     
                     <input type="checkbox" id="cbox8" class ="decisionClass" value="first_checkbox" /> 
                     APROBADO 
                  </label> <br>
                  <label>
                     <input type="checkbox" id="cbox9" class ="decisionClass" value="first_checkbox" /> 
                     NEGADO 
                  </label> <br>
                  <label>
                     <input type="checkbox" id="cbox10" class ="decisionClass" value="first_checkbox" /> 
                     DIFERIDO 
                  </label> <br>
                  <label colspan="3">
                     <input type="checkbox" id="cbox11" class ="decisionClass" value="first_checkbox" /> 
                     VISTO 
                  </label> <br>
               </p>
            </td>
            <td class="thObser" colspan="3">
               <div class="observacion">
                 <p>
                  OBSERVACIÓN
                 </p>
               </div>
            
            </td>
         </tr>
<tr>
   <td colspan="3" class="firmas">{{firma-director-dem}}</td>

</tr>

         

      </table>

      
   </div>
</body>

</html>